body{
text-align: center;
background: rgb(228, 176, 123);
}
.capa{
    width: 25%;

}
.beneficios{
    background-color: rgb(244, 226, 200);
    text-align: left;
}
ul{
    display:inline-block;
    vertical-align:top;
    font-size: 20px;
    margin-right: 100px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 40;
}